<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<a href="#"><img class="logo" src="img/logo.png"></a>
		</div>
		<div class="col-md-6">
			<div class="alert alert-success">
				<strong>Важное сообщение</strong>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>	
		</div>
		<div class="col-md-3">
			<address>
				<strong>Телефон:</strong>
				+7 (123) 456-7890
				<br>
				<strong>Email:</strong>
				<a href="mailto:#">first.last@gwc.ru</a>
			</address>
		</div>
	</div>
	<hr>
</div>