<footer class="footer">
	<div class="container">
		<hr>
		<small>© 2013 GWC.RU. Авторские права защищены и охраняются законом. <a href="#">Пользовательское соглашение</a></small>
		</div>
	</div>
</footer>