<footer class="footer">
	<div class="container hidden-sm hidden-xs">
		<div class="tiny-carousel-x hidden-md">
			<div class="buttons prev"><a class="scroll-button icon-angle-left icon-2x"href="#"></a></div>
			<div class="viewport">
				<ul class="overview">
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
					<li>
						<a href="#" class="thumbnail">
							<img src="http://placekitten.com/g/320/300">
						</a>
					</li>
				</ul>
			</div>
			<div class="buttons next"><a class="scroll-button icon-angle-right icon-2x" href="#"></a></div>
		</div>
		<div class="btn-group btn-group-justified">
			<a href="#" class="btn btn-default">Сертификаты</a>
			<a href="#" class="btn btn-default">Новости</a>
			<a href="#" class="btn btn-default">Спецпредложения</a>
			<a href="#" class="btn btn-default">Доставка</a>
			<a href="#" class="btn btn-default">Консультация</a>
		</div>
		<hr>
		<p class="text-center">© 2013 GWC.RU. Авторские права защищены и охраняются законом. <a href="#">Пользовательское соглашение</a></p>
		</div>
	</div>
	<div class="container visible-sm visible-xs">
		<hr>
		<p class="text-center">© 2013 GWC.RU. Авторские права защищены и охраняются законом. <a href="#">Пользовательское соглашение</a></p>
		</div>
	</div>
</footer>
