<header class="site-header">
	<div class="container hidden-sm hidden-xs" >
		<div class="row">
			<div class="col-md-6">
				<a href="#"><img class="logo" src="img/logo.png"></a>
			</div>
			<div class="col-md-6">
				<form class="form-inline pull-right" role="form">
					<div class="form-group">
						<input type="email" class="form-control input-lg" placeholder="Логин">
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" data-original-title="Запомнить">
								<input type="checkbox">
							</span>
							<input type="password" class="form-control input-lg" placeholder="Пароль">
							<span class="input-group-btn">
								<button class="btn btn-default btn-lg" type="button"><i class="icon-chevron-right"></i></button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<h3>Оптовые поставки сварочного оборудования, материалов и аксессуаров <span class="pull-right"> +7 (495) 730 20 66</span></h3>
		<div class="btn-group btn-group-justified">
			<a href="main.html" class="btn btn-default">Главная</a>
			<a href="#" class="btn btn-default">О компании</a>
			<a href="#" class="btn btn-default">Дилерам</a>
			<a href="#" class="btn btn-default">Личный кабинет</a>
			<a href="#" class="btn btn-default">Контакты</a>
		</div>
	</div>
	<div class="container visible-sm visible-xs">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse in navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="main.html">Главная</a></li>
						<li><a href="#">Личный кабинет</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Меню <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">О компании</a></li>
								<li><a href="#">Дилерам</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Сертификаты</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Спецпредложения</a></li>
								<li><a href="#">Доставка</a></li>
								<li><a href="#">Консультация</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Логин">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Пароль">
						</div>
						<button type="submit" class="btn btn-default">Вход</button>
					</form>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</header>