<h3><a href="#">Сварочная проволока MIG/MAG / ER 308LSi (Св-04Х19Н9)</a></h3>
<br>
<div class="text-center">
	<img class="img-main-item" src="img/item/prov_omed.jpg">		
</div>
<table class="table">
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Описание</th>
			<td>
				Коррозионностойкая хромоникелевая сварочная проволока для полуавтоматической сварки аустенитных нержавеющих сталей c 	содержанием хрома ~18% и никеля ~ 8% типа 03Х17Н14М2, 03Х18Н11, 06Х18Н11, 08Х18Н10Т, 12Х18Н10Т, 304 и т.п. в среде 		защитных газов (Ar). На постоянном токе DC. Наплавленный металл 308LSi обладает высокой коррозионной стойкостью. 		Незначительное содержание углерода снижает риск возникновения межкристаллической коррозии, а наличие кремния 			обеспечивает высокое качество шва. Проволокаприменяется в машиностроении, нефтяной, химической и пищевой отрасли. Для 	изготовления трубопроводов, емкостей, бойлеров и т.п.
			</td>
		</tr>
		<tr>
			<th>Классификация</th>
			<td>
				ER 308LSi / AWS A5.9 С -+ 0,03 G 19 9 L Si / EN 12072<br>
				<strong>Аналог проволок:</strong><br>
				Св.-06Х19Н9Т, Ni - 10,0 Св.-01Х18Н10, Св.-01Х19Н9
			</td>
		</tr>
		<tr>
			<th>Хим. состав</th>
			<td>
				С -+ 0,03<br>
				Mn - 1,7<br>
				Cr - 20,0<br>
				Ni - 10,0<br>
			</td>
		</tr>
		<tr>
			<th>Механические свойства</th>
			<td>
				Предел текучести 370 МПа<br>
				Предел прочности 620 МПа<br>
				Удлинение 36% <br>
				КCV +20°С 110 Дж - 60° С 90 Дж -196° С 60 Дж
			</td>
		</tr>
	</tbody>
</table>
<hr>
<div>
	<ul>
		<li>Выпускаемые диаметры: 0.8 / 1.0 / 1.2 / 1.6 мм.</li>
		<li>Вид поставки: пластиковая «ЕВРО» кассета.</li>
		<li>D200 – 5 кг.</li>
		<li>D300 – 15 кг.</li>
		<li>Намотка рядная.</li>
		<li>Катушка запаяна в полиэтиленовый чехол, коробка – картон</li>
	</ul>
</div>