<div class="item">
	<h5>Проволка нержавеющая</h5>
	<a href="#" class="thumbnail">
		<img src="http://placekitten.com/g/220/130">
	</a>
	<ul class="list-unstyled">
		<li><a href="#">ER 308LSi (Св-04X19H9)</a></li>
		<li><a href="#">ER 308LSi (Св-04X19H9)</a></li>
	</ul>
</div>