<ul class="nav nav-pills nav-stacked menu-right" >
	
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	<hr>
	<li>
		<a href="#">Сварочная проволка<br>MIG/MAG</a>	
	</li>
	
</ul>