---
layout: "cabinet"
title: "Контакты"
---
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= partial "cabinet-menu" %>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<address>
						<strong>Twitter, Inc.</strong><br>
						795 Folsom Ave, Suite 600<br>
						San Francisco, CA 94107<br>
						<abbr title="Phone">P:</abbr> (123) 456-7890
					</address>

					<address>
						<strong>Full Name</strong><br>
						<a href="mailto:#">first.last@example.com</a>
					</address>
				</div>
				<div class="col-md-8">
					<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=55.729865,37.623522&amp;daddr=&amp;hl=ru&amp;geocode=&amp;sll=55.729882,37.623673&amp;sspn=0.001007,0.003138&amp;mra=mift&amp;mrsp=0&amp;sz=19&amp;ie=UTF8&amp;t=m&amp;ll=55.729882,37.623673&amp;spn=0.001007,0.003138&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=55.729865,37.623522&amp;daddr=&amp;hl=ru&amp;geocode=&amp;sll=55.729882,37.623673&amp;sspn=0.001007,0.003138&amp;mra=mift&amp;mrsp=0&amp;sz=19&amp;ie=UTF8&amp;t=m&amp;ll=55.729882,37.623673&amp;spn=0.001007,0.003138" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>
				</div>
			</div>
		</div>
	</div>
</div>