---
layout: "cabinet"
title: "ПРОСМОТР И ИЗМЕНЕНИЕ ТОВАРОВ ВНУТРИ ЗАЯВКИ"
---
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= partial "cabinet-menu" %>
		</div>
		<div class="col-md-9">
			<div class="title clearfix">	
			<h3>Номер заявки</h3>				
				<div class="btn-group pull-right">
					<a href="cabinet-request-create.html" class="btn btn-success">
						<i class="icon-plus"></i> Добавить товары
					</a>
					<a href="cabinet-request-list.html" class="btn btn-primary">
						<i class="icon-arrow-left"></i> К списку заявок
					</a>
					<a href="cabinet-invoice-create.html" class="btn btn-primary">
						<i class="icon-print"></i> Распечатать заявку
					</a>
				</div>
			</div>
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Обратите внимание</strong>, цена товара указана с учетом НДС.
			</div>
			<div class="table-responsive ">
				<table class="table table-request table-bordered table-hover table-striped ">
					<thead>
						<tr>
							<th>Название товара</th>
							<th class="price">Цена</th>
							<th>Количество</th>
							<th>Всего</th>
							<th>Действие</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Товар 1</td>
							<td>512 <span class="b-rub">Р</span></td>
							<td class="td-spinner">
								<div class="spinner" data-mod="3">
									<input type="text" class="input-mini spinner-input form-control">
									<div class="spinner-buttons	btn-group-xs btn-group-vertical">
										<button type="button" class="btn spinner-up">
											<i class="icon-chevron-up"></i>
										</button>
										<button type="button" class="btn spinner-down">
											<i class="icon-chevron-down"></i>
										</button>
									</div>
								</div>
							</td>
							<td>2 <span class="b-rub">Р</span></td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-warning modify">
										<i class="icon-edit icon-large" data-toggle="tooltip" title="" data-original-title="Изменить"></i>
									</button>
									<button type="button" class="btn btn-danger remove">
										<i class="icon-remove icon-large" data-toggle="tooltip" title="" data-original-title="Удалить"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Товар 2</td>
							<td>1024 <span class="b-rub">Р</span></td>
							<td class="td-spinner">
								<div class="spinner" data-mod="3">
									<input type="text" class="input-mini spinner-input form-control">
									<div class="spinner-buttons	btn-group-xs btn-group-vertical">
										<button type="button" class="btn spinner-up">
											<i class="icon-chevron-up"></i>
										</button>
										<button type="button" class="btn spinner-down">
											<i class="icon-chevron-down"></i>
										</button>
									</div>
								</div>
							</td>
							<td>2 <span class="b-rub">Р</span></td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-warning modify">
										<i class="icon-edit icon-large" data-toggle="tooltip" title="" data-original-title="Изменить"></i>
									</button>
									<button type="button" class="btn btn-danger remove">
										<i class="icon-remove icon-large" data-toggle="tooltip" title="" data-original-title="Удалить"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Товар 3</td>
							<td>512 <span class="b-rub">Р</span></td>
							<td class="td-spinner">
								<div class="spinner" data-mod="3">
									<input type="text" class="input-mini spinner-input form-control">
									<div class="spinner-buttons	btn-group-xs btn-group-vertical">
										<button type="button" class="btn spinner-up">
											<i class="icon-chevron-up"></i>
										</button>
										<button type="button" class="btn spinner-down">
											<i class="icon-chevron-down"></i>
										</button>
									</div>
								</div>
							</td>
							<td>2 <span class="b-rub">Р</span></td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-warning modify">
										<i class="icon-edit icon-large" data-toggle="tooltip" title="" data-original-title="Изменить"></i>
									</button>
									<button type="button" class="btn btn-danger remove">
										<i class="icon-remove icon-large" data-toggle="tooltip" title="" data-original-title="Удалить"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Товар 4</td>
							<td>1024 <span class="b-rub">Р</span></td>
							<td class="td-spinner">
								<div class="spinner" data-mod="3">
									<input type="text" class="input-mini spinner-input form-control">
									<div class="spinner-buttons	btn-group-xs btn-group-vertical">
										<button type="button" class="btn spinner-up">
											<i class="icon-chevron-up"></i>
										</button>
										<button type="button" class="btn spinner-down">
											<i class="icon-chevron-down"></i>
										</button>
									</div>
								</div>
							</td>
							<td>2 <span class="b-rub">Р</span></td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-warning modify">
										<i class="icon-edit icon-large" data-toggle="tooltip" title="" data-original-title="Изменить"></i>
									</button>
									<button type="button" class="btn btn-danger remove">
										<i class="icon-remove icon-large" data-toggle="tooltip" title="" data-original-title="Удалить"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Товар 5</td>
							<td>1024 <span class="b-rub">Р</span></td>
							<td class="td-spinner">
								<div class="spinner" data-mod="3">
									<input type="text" class="input-mini spinner-input form-control">
									<div class="spinner-buttons	btn-group-xs btn-group-vertical">
										<button type="button" class="btn spinner-up">
											<i class="icon-chevron-up"></i>
										</button>
										<button type="button" class="btn spinner-down">
											<i class="icon-chevron-down"></i>
										</button>
									</div>
								</div>
							</td>
							<td>2 <span class="b-rub">Р</span></td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-warning modify">
										<i class="icon-edit icon-large" data-toggle="tooltip" title="" data-original-title="Изменить"></i>
									</button>
									<button type="button" class="btn btn-danger remove">
										<i class="icon-remove icon-large" data-toggle="tooltip" title="" data-original-title="Удалить"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<ul class="pagination pagination-sm">
									<li><a href="#">«</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">»</a></li>
								</ul>
							</td>
						</tr>							
					</tfoot>
				</table>
			</div>
			<a href="request-create.html" class="btn btn-success btn-lg pull-right">
				<i class="icon-plus"></i> Сформировать счет
			</a>
		</div>
	</div>
</div>