---
title: "Прототипирование"
layout: "clear"
---

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li>
					<h5>Сайт</h5>
					<ul>
						<li><a href="main.html">Главная (main)</a></li>
						<li><a href="main-item.html">Главная товар(main-item)</a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li>
					</ul>
				</li>
				<li>
					<h5>Кабинет</h5>
					<ul>
						<li>
							<a href="cabinet-request-list.html">Список заявок (cabinet-request-list)</a>
							<ul>
								<li><a href="cabinet-request-create.html">Создание заявки (cabinet-request-create)</a></li>
								<li>
									<a href="cabinet-request-selected-products.html">выбранные товары (cabinet-request-selected-products)</a>
								</li>
								<li><a href="cabinet-category.html">Категория (cabinet-category)</a></li>
								<li><a href="cabinet-request-modify.html">Просмотр и изменение товаров внутри заявки (cabinet-request-modify)</a></li>
							</ul>
						</li>
						<li>
							<a href="cabinet-invoice-list.html">Счета (cabinet-invoice-list)</a>
							<ul>
								<li><a href="cabinet-invoice-create.html">Создать счет (cabinet-invoice-create.html)</a></li>
								<li>
									<a href="cabinet-invoice-unpaid.html">Неоплаченные счета (cabinet-invoice-unpaid)</a>
								</li>
								<li>
									<a href="cabinet-invoice-paid.html">Оплаченные счета (cabinet-invoice-paid)</a>
								</li>
								<li>
									<a href="cabinet-history.html">История заказов (cabinet-history)</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="cabinet-contacts.html">Контакты (cabinet-contacts)</a>
						</li>
					</ul>
				</li>
			</ul>		
		</div>
	</div>
</div>