<br>
<div class="container">
	<div class="row hidden-sm hidden-xs">
		<div class="col-md-2 ">
			<%= partial "menu-left" %>
		</div>


		<div class="col-md-8 main-content-box">
			<%= partial "item-descr" %>
		</div>


		<div class="col-md-2">
			<%= partial "menu-right" %>
		</div>
	</div>
	<div class="row visible-sm visible-xs">
		<div class="col-sm-12">
			<select class="form-control input-lg">
				<option>Сварочная проволка MIG/MAG</option>
				<option>Сварочная проволка MIG/MAG</option>
				<option>Сварочная проволка MIG/MAG</option>
				<option>Сварочная проволка MIG/MAG</option>
				<option>Сварочная проволка MIG/MAG</option>
			</select>
		</div>
		
		<%= partial "item-descr" %>

	</div>
</div>

